@import './styles.css';

.game-presentation{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 64px;
    color: var(--color-white);
}

.game-presentation img{
    width: 300px;
    height: 300px;
}

.game-presentation h2{
    color: var(--color-white);
}

.game-presentation div {
    margin-top: -2rem;
    padding-left: 3.2rem;
    font-size: larger;
}

.game-presentation div p {
    width: 40%;
}

@media(max-width:768px){
    .game-presentation div {
        font-size: small;
    }
}

@media (max-width: 425px){
    .game-presentation{
        height: 73vh;
        flex-direction: column;
        align-items: start;
    }

    .game-presentation img{
        width: 100px;
        height: 100px;
    }
}