@import './styles.css';


.game-presentation{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    margin-top: 10dvh;
    margin-bottom: 39dvh;
    margin-left: 3.2rem;
}
.flex-col h2{
    margin-bottom: 0;
    font-size: 3rem;
}
.flex-col p{
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    padding: 20px;
    line-height: 25px;
    word-spacing: 2px;
    margin: 0;
    font-size: 1.3rem;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.game-presentation img{
    width: 300px;
    height: 300px;
}
  
.game-presentation div {
    margin-top: -2rem;
    font-size: larger;
}

@media(max-width:1024px){
    .game-presentation div{
        padding: 0;
    }

    .game-presentation div{
        padding-left: 3rem;
    }
    .game-presentation {
        font-size: small;
    }
}

@media(max-width:768px){

    .sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .game-presentation div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    .game-presentation{
        margin-bottom: 20dvh;
    }
    .flex-col{
        padding: 0;
        margin: 0;
    }
    .game-presentation div p{
        width: 100%;
        text-align: center;
        border-radius: 20px;
    }
}

@media (max-width: 425px){
    img{
        display: none;
    }
    .game-presentation{
        height: 73vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .game-presentation div{
        padding: 0;
    }
    .game-presentation img{
        width: 100px;
        height: 100px;
    }
    .game-presentation h2{
        width: 150%;
        font-size: 2rem;
        line-height: 33px;
        text-align: center;
    }
    .game-presentation div p{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 150%;
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 405px){
    .game-presentation h2{
        font-size: larger;
        padding: 10px 30px 10px 30px;
    }
}

@media (max-width: 375px){
    .game-presentation div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
