@import './styles.css';

.game-presentation{
    width: fit-content;
    height: 45vh;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: var(--color-white);
    padding-inline: 4rem;
}

.game-presentation img{
    width: 300px;
    height: 300px;
}

.game-presentation p {
    width: 40%;
}

@media(max-width:1024px){
    .game-presentation {
        font-size: small;
    }
}

@media(max-width:768px){
    .game-presentation h2{
        margin-left: 5px;
    }

    .game-presentation p{
        width: 40%;
        text-align: center;
    }
}

@media (max-width: 425px){
    .game-presentation{
        height: 40vh;
        align-items: center;
        justify-content: center;
        padding-block-end: 3rem;
    }

    .game-presentation img{
        width: 100px;
        height: 100px;
    }

    .game-presentation p{
        width: 120%;
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 395px){
    .game-presentation {
        height: 50vh;
    }

    .game-presentation h2{
        font-size: 1.2rem;
    }

    .game-presentation p{
        font-size: 1rem;
        width: 150%;
    }
}
