@import './styles.css';

.header{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;

}
.header__blur{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(4.2px);
    background-color: rgba(0, 0, 0, 0.1);
    
}
.header > .header__blur ul{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.header > .header__blur > ul li{    
    outline-offset: -20px;
    outline: 1px solid rgba(255, 255, 255, 0);
    transition: 0.4s outline-offset 0.1s, 0.5s outline-color;
}
.header > .header__blur > ul li:hover{
    outline-offset: 10px;
    outline-color: rgba(255, 255, 255, 0.7);
    transition: 0.4s outline-offset 0.1s, 0.3s outline-color 0.1s;
}
.header > .header__blur a{
    padding: 15px;
    text-decoration: none;
    color: var(--color-header);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: .2s;
    font-size: .8rem;
}

.header > .header__blur a:hover{
    opacity: 0.9;


}

@media (max-width: 425px){
    .header{ 
        /* border-bottom: 2px solid var(--color-primary); */
        height: 12vh;
    }

    .header ul{
        width: 100%;
        justify-content: space-between;
        padding: 0 15px;
    }

    .header a{
        font-size: .7rem;
    }
}

@media (max-width: 375px){
    .header a{
        letter-spacing: 1px;
    }
    .header{
        width: 100%;
    }

}

