@import './header.css';
@import './game-apresentation.css';

:root{
    --color-primary: #282961;
    --color-background: linear-gradient(21deg, rgba(128,130,232,1) 0%, rgba(70,71,128,1) 41%, rgba(40,41,97,1) 100%);
    --color-white: #ece3dd;
    --color-black: #000;
}

body{
    margin: 0;
    padding: 0;
    background: var(--color-primary);
}

.sections{
    padding-top: 15vh;
}