@import './header.css';
@import './game-apresentation.css';

:root{
    --color-primary: #e85759;
    --color-background: linear-gradient(47deg, rgba(83,144,239,1) 0%, rgba(28,84,173,1) 41%, rgba(2,68,172,1) 100%);
    --color-white: #ece3dd;
    --color-black: #000;
    --color-blackless: #00000098;
    --color-whiteless: #b8bcbe;
}

.flex {
    display: flex;
}

body{
    margin: 0;
    padding: 0;
    background: url("../images/background.jpg") no-repeat fixed center;
    background-size: cover;
    font-family: "Outfit";
}

.sections{
    padding-top: 15vh;
}

.about-game{
    background-color: var(--color-white);
    height: 50vh;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.about-game div {
    margin-left: 5rem;
    border: 2px solid var(--color-whiteless);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 14px 14px 14px 2px rgba(0,0,0,0.55);   

}
.about-game div p {
    width: 95%;
    color: var(--color-blackless);
    text-align: left;
    font-size: large;
}

.game-video{
    height: 90vh;
}

@media (max-width: 425px){
    .sections{
        padding-top: 12vh;
    }

    .about-game div p{
        font-size: .2rem;
    }
}